<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Friend</h1>
    <h3>My Friend List</h3>
    <table>
        <tr>
            <th>Firset Name</th>
            <th>Last Name</th>
            <th>Nick Name</th>
            <th>Github Pages</th>
        </tr>
        <tr>
            <td>Thanawat</td>
            <td>Kaewinthorn</td>
            <td>Fuji</td>
            <td>
                <a href="https://github.com/camt-mmit/2022_02-954447-001-week-02-dom-and-javascript-Sadsadaji">Lab02</a>
                <a href="https://github.com/camt-mmit/2022_02-954447-001-week-02-dom-and-javascript-Sadsadaji">Lab03</a>
            </td>
        </tr>
        <tr>
            <td>Promsith</td>
            <td>Tapuanf</td>
            <td>U-turn</td>
            <td>
                <a href="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-turnkung/">Lab02</a>
                <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-turnkung/">Lab03</a>
            </td>
        </tr>
    </table>
</body>
</html>