<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="information">
         <label>
            <h2>Status</h2>
         </label><br>
        <label>
           <b class="data">Current Time</b><span> {{current_time}}</span>
        </label><br>
        <label>
           <b class="data">User Agent</b><span>{{user_agent}}</span>
        </label><br>
        <label>
           <b class="data">Languages</b><span>{{languages}}</span>
        </label><br>
        <label>
           <b class="data">Is Cookie Enagled?</b><span>{{cookie}}</span>
        </label><br>
        <label>
           <b class="data">Logical Processors</b><span>{{logical}}</span>
        </label><br>
        <label>
           <b class="data">Max Touch Points</b><span>{{max_touch}}</span>
        </label>
    </div>
</body>
</html>