<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="profile">
        <h2>My Profile</h2>
        <h3>Basic Information</h3>
        <table>
            <li>Name :<span>Wutthichai Homnana</span></li>
            <li>Gander :<span>Male</span></li>
            <li>Age : <span>21</span></li>
        </table>
    </div>

    <div class="autobio">
        <h3>autobiography</h3>
        <p>I was born on a warm, Wednesday in Januart 09 in Bangkok, Thailand.I grew up in Rayong, Thailand.I graduated from Map Ta Phut School.
            I am currently studying at CAMT College of Arts, Media and Technology .
        </p>
    </div>
    <div class="github-pages">
        <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-x1il/">Lab02</a>
        <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-x1il/">Lab03</a>
    </div>
</body>
</html>